@font-face{
    font-family: ninja;
    src: url(AssassinNinja-7BYyR.ttf);
}
h1{
    font-size: 500%;
    margin-bottom: 20px;
}
h2{
    font-size: 300%;
}
body{
    font-family: ninja ;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-top: 100px;
    align-items: center;
    height: 100vh;
    background-color: #efebd6;
}
.buttons-container{
    display: flex;
    gap: 150px;
    font-size: 600%;
}
.scoreboard-container{
    display: flex;
    font-size: 200%;
    gap: 20px;
    padding: 70px;
    padding-left: 140px;
}